In [1]:
#import libraries
import pandas as pd
import numpy as np

In [2]:
#read in csv's March 2019 to July 2019 and March 2020 to July 2020
df201903 = pd.read_csv('../raw_data/201903-citibike-tripdata.csv')
df201903.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1463,2019-03-01 00:00:16.0970,2019-03-01 00:24:39.3880,319.0,Fulton St & Broadway,40.711066,-74.009447,347.0,Greenwich St & W Houston St,40.728846,-74.008591,35618,Subscriber,1989,1
1,285,2019-03-01 00:00:32.3850,2019-03-01 00:05:18.1830,439.0,E 4 St & 2 Ave,40.726281,-73.989780,150.0,E 2 St & Avenue C,40.720874,-73.980858,31113,Subscriber,1980,1
2,686,2019-03-01 00:00:47.7970,2019-03-01 00:12:14.3090,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3474.0,6 Ave & Spring St,40.725256,-74.004121,19617,Subscriber,1987,1
3,442,2019-03-01 00:01:01.2090,2019-03-01 00:08:23.7510,3474.0,6 Ave & Spring St,40.725256,-74.004121,355.0,Bayard St & Baxter St,40.716021,-73.999744,27086,Subscriber,1987,2
4,2913,2019-03-01 00:01:09.2810,2019-03-01 00:49:42.3810,379.0,W 31 St & 7 Ave,40.749156,-73.991600,212.0,W 16 St & The High Line,40.743349,-74.006818,34791,Subscriber,1991,1

In [3]:
df201904 = pd.read_csv('../raw_data/201904-citibike-tripdata.csv')
df201904.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,88,2019-04-01 00:00:14.7410,2019-04-01 00:01:42.8900,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,36515,Subscriber,1982,1
1,443,2019-04-01 00:00:20.8270,2019-04-01 00:07:44.2920,254,W 11 St & 6 Ave,40.735324,-73.998004,540,Lexington Ave & E 29 St,40.743116,-73.982154,17406,Subscriber,1983,1
2,662,2019-04-01 00:00:30.9960,2019-04-01 00:11:33.2610,3244,University Pl & E 8 St,40.731437,-73.994903,3244,University Pl & E 8 St,40.731437,-73.994903,20775,Subscriber,1988,1
3,86,2019-04-01 00:00:30.9110,2019-04-01 00:01:56.9600,526,E 33 St & 5 Ave,40.747659,-73.984907,474,5 Ave & E 29 St,40.745168,-73.986831,36270,Subscriber,1982,1
4,136,2019-04-01 00:00:32.5930,2019-04-01 00:02:49.3910,461,E 20 St & 2 Ave,40.735877,-73.982050,504,1 Ave & E 16 St,40.732219,-73.981656,36051,Subscriber,1986,1

In [4]:
df201905 = pd.read_csv('../raw_data/201905-citibike-tripdata.csv')
df201905.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,139,2019-05-01 00:00:01.9010,2019-05-01 00:02:21.5170,447,8 Ave & W 52 St,40.763707,-73.985162,423,W 54 St & 9 Ave,40.765849,-73.986905,31170,Subscriber,1983,1
1,754,2019-05-01 00:00:03.0210,2019-05-01 00:12:37.6920,3258,W 27 St & 10 Ave,40.750182,-74.002184,3255,8 Ave & W 31 St,40.750585,-73.994685,25560,Customer,1969,0
2,2308,2019-05-01 00:00:04.6270,2019-05-01 00:38:33.1710,3093,N 6 St & Bedford Ave,40.717452,-73.958509,3676,Van Brunt St & Van Dyke St,40.675833,-74.014726,33369,Subscriber,1978,1
3,143,2019-05-01 00:00:19.3340,2019-05-01 00:02:42.5200,3486,Schermerhorn St & Bond St,40.688417,-73.984517,3412,Pacific St & Nevins St,40.685376,-73.983021,32041,Subscriber,1997,1
4,138,2019-05-01 00:00:22.1840,2019-05-01 00:02:40.6480,388,W 26 St & 10 Ave,40.749718,-74.002950,494,W 26 St & 8 Ave,40.747348,-73.997236,35237,Subscriber,1967,1

In [5]:
df201906 = pd.read_csv('../raw_data/201906-citibike-tripdata.csv')
df201906.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,330,2019-06-01 00:00:01.5000,2019-06-01 00:05:31.7600,3602,31 Ave & 34 St,40.763154,-73.920827,3570,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,1
1,830,2019-06-01 00:00:04.2400,2019-06-01 00:13:55.1470,3054,Greene Ave & Throop Ave,40.689493,-73.942061,3781,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,2
2,380,2019-06-01 00:00:06.0190,2019-06-01 00:06:26.7790,229,Great Jones St,40.727434,-73.993790,326,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,2
3,1155,2019-06-01 00:00:06.7760,2019-06-01 00:19:22.5380,3771,McKibbin St & Bogart St,40.706237,-73.933871,3016,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,1
4,1055,2019-06-01 00:00:07.5200,2019-06-01 00:17:42.5580,441,E 52 St & 2 Ave,40.756014,-73.967416,3159,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,1

In [6]:
df201907 = pd.read_csv('../raw_data/201907-citibike-tripdata.csv')
df201907.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,897,2019-07-01 00:00:00.1320,2019-07-01 00:14:58.0040,493.0,W 45 St & 6 Ave,40.756800,-73.982912,454.0,E 51 St & 1 Ave,40.754557,-73.965930,18340,Subscriber,1966,1
1,267,2019-07-01 00:00:05.1780,2019-07-01 00:04:32.4500,3143.0,5 Ave & E 78 St,40.776321,-73.964274,3226.0,W 82 St & Central Park West,40.782750,-73.971370,21458,Customer,1996,1
2,2201,2019-07-01 00:00:05.2130,2019-07-01 00:36:46.7490,317.0,E 6 St & Avenue B,40.724537,-73.981854,3469.0,India St & West St,40.731814,-73.959950,39874,Subscriber,1986,1
3,1660,2019-07-01 00:00:08.6010,2019-07-01 00:27:48.8050,249.0,Harrison St & Hudson St,40.718710,-74.009001,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,38865,Subscriber,1988,1
4,109,2019-07-01 00:00:12.1580,2019-07-01 00:02:01.5670,3552.0,W 113 St & Broadway,40.805973,-73.964928,3538.0,W 110 St & Amsterdam Ave,40.802692,-73.962950,30256,Subscriber,1997,1

In [7]:
df202003 = pd.read_csv('../raw_data/202003-citibike-tripdata.csv')
df202003.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1589,2020-03-01 00:00:03.6400,2020-03-01 00:26:32.9860,224,Spruce St & Nassau St,40.711464,-74.005524,3574,Prospect Pl & Underhill Ave,40.676969,-73.965790,16214,Subscriber,1980,1
1,389,2020-03-01 00:00:16.7560,2020-03-01 00:06:46.0620,293,Lafayette St & E 8 St,40.730207,-73.991026,223,W 13 St & 7 Ave,40.737815,-73.999947,29994,Subscriber,1991,2
2,614,2020-03-01 00:00:20.0580,2020-03-01 00:10:34.2200,379,W 31 St & 7 Ave,40.749156,-73.991600,515,W 43 St & 10 Ave,40.760094,-73.994618,39853,Subscriber,1991,1
3,597,2020-03-01 00:00:24.3510,2020-03-01 00:10:22.3390,3739,Perry St & Greenwich Ave,40.735918,-74.000939,325,E 19 St & 3 Ave,40.736245,-73.984738,42608,Subscriber,1989,1
4,1920,2020-03-01 00:00:26.1120,2020-03-01 00:32:26.2680,236,St Marks Pl & 2 Ave,40.728419,-73.987140,3124,46 Ave & 5 St,40.747310,-73.954510,36288,Subscriber,1993,1

In [8]:
df202004 = pd.read_csv('../raw_data/202004-citibike-tripdata.csv')
df202004.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,534,2020-04-01 00:00:15.2800,2020-04-01 00:09:09.8730,3656,E 2 St & Avenue A,40.723077,-73.985836,545,E 23 St & 1 Ave,40.736502,-73.978095,15162,Subscriber,1990,2
1,529,2020-04-01 00:02:28.9430,2020-04-01 00:11:18.3410,3163,Central Park West & W 68 St,40.773407,-73.977825,3301,Columbus Ave & W 95 St,40.791956,-73.968087,42861,Subscriber,1974,1
2,1488,2020-04-01 00:02:56.0900,2020-04-01 00:27:44.2530,3164,Columbus Ave & W 72 St,40.777057,-73.978985,3605,31 Ave & Crescent St,40.765835,-73.926547,35989,Subscriber,1982,1
3,341,2020-04-01 00:03:25.1410,2020-04-01 00:09:06.3190,3827,Halsey St & Broadway,40.685650,-73.915640,3869,Van Buren St & Broadway,40.692000,-73.926170,37548,Subscriber,1996,1
4,2206,2020-04-01 00:05:35.2790,2020-04-01 00:42:21.9080,3890,Grove St & Broadway,40.690470,-73.923511,3058,Lewis Ave & Kosciuszko St,40.692371,-73.937054,39701,Subscriber,1977,1

In [9]:
df202005 = pd.read_csv('../raw_data/202005-citibike-tripdata.csv')
df202005.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,336,2020-05-01 00:01:06.3380,2020-05-01 00:06:42.9560,2017,E 43 St & 2 Ave,40.750224,-73.971214,465,Broadway & W 41 St,40.755136,-73.986580,18015,Subscriber,1993,1
1,853,2020-05-01 00:01:08.1950,2020-05-01 00:15:21.2150,3376,E 65 St & 2 Ave,40.764719,-73.962221,478,11 Ave & W 41 St,40.760301,-73.998842,35905,Subscriber,1989,1
2,78,2020-05-01 00:01:08.5260,2020-05-01 00:02:27.0490,396,Lefferts Pl & Franklin Ave,40.680342,-73.955769,3789,Fulton St & Irving Pl,40.681860,-73.959432,33350,Subscriber,1938,2
3,1185,2020-05-01 00:02:22.4380,2020-05-01 00:22:08.1220,3630,Frederick Douglass Blvd & W 115 St,40.803865,-73.955931,3506,Lexington Ave & E 120 St,40.801307,-73.939817,43790,Subscriber,1996,1
4,272,2020-05-01 00:02:32.8280,2020-05-01 00:07:05.0880,3776,Central Ave & Starr Street,40.700003,-73.928340,3068,Humboldt St & Varet St,40.703172,-73.940636,39912,Subscriber,1993,1

In [10]:
df202006 = pd.read_csv('../raw_data/202006-citibike-tripdata.csv')
df202006.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1062,2020-06-01 00:00:03.3720,2020-06-01 00:17:46.2080,3419,Douglass St & 4 Ave,40.679279,-73.981540,3419,Douglass St & 4 Ave,40.679279,-73.981540,39852,Customer,1997,2
1,3810,2020-06-01 00:00:03.5530,2020-06-01 01:03:33.9360,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,336,Sullivan St & Washington Sq,40.730477,-73.999061,37558,Subscriber,1969,0
2,1017,2020-06-01 00:00:09.6140,2020-06-01 00:17:06.8330,389,Broadway & Berry St,40.710446,-73.965251,3562,Classon Ave & St Marks Ave,40.676520,-73.959608,37512,Customer,1988,2
3,226,2020-06-01 00:00:12.1780,2020-06-01 00:03:58.8640,3255,8 Ave & W 31 St,40.750585,-73.994685,505,6 Ave & W 33 St,40.749013,-73.988484,39674,Customer,1969,0
4,1437,2020-06-01 00:00:21.2550,2020-06-01 00:24:18.9650,367,E 53 St & Lexington Ave,40.758281,-73.970694,497,E 17 St & Broadway,40.737050,-73.990093,21093,Customer,1997,2

In [11]:
df202007 = pd.read_csv('../raw_data/202007-citibike-tripdata.csv')
df202007.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,341,2020-07-01 00:00:01.3020,2020-07-01 00:05:42.5650,3463,E 16 St & Irving Pl,40.735367,-73.987974,2003,1 Ave & E 18 St,40.733812,-73.980544,33861,Subscriber,1986,1
1,321,2020-07-01 00:00:01.3620,2020-07-01 00:05:22.9490,3463,E 16 St & Irving Pl,40.735367,-73.987974,2003,1 Ave & E 18 St,40.733812,-73.980544,31233,Subscriber,1990,2
2,2710,2020-07-01 00:00:06.6290,2020-07-01 00:45:17.3410,426,West St & Chambers St,40.717548,-74.013221,212,W 16 St & The High Line,40.743349,-74.006818,40329,Customer,1969,0
3,2685,2020-07-01 00:00:13.0220,2020-07-01 00:44:58.8640,426,West St & Chambers St,40.717548,-74.013221,212,W 16 St & The High Line,40.743349,-74.006818,17567,Subscriber,1998,1
4,191,2020-07-01 00:00:13.4660,2020-07-01 00:03:24.6230,3615,44 Dr & 21 St,40.748000,-73.946093,3127,9 St & 44 Rd,40.749660,-73.952100,43421,Subscriber,1992,1

In [12]:
#what are the data types of each column
df201903.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [13]:
df201904.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [14]:
df201905.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [15]:
df201906.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [16]:
df201907.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [17]:
df202003.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [18]:
df202004.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [19]:
df202005.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [20]:
df202006.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [21]:
df202007.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [22]:
#convert columns to datatypes so that all df's match
convert_dict_201904 = {'start station id': float,
                        'end station id': float}
df201904 = df201904.astype(convert_dict_201904)
print(df201904.dtypes)

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [23]:
convert_dict_201905 = {'start station id': float,
                        'end station id': float}
df201905 = df201905.astype(convert_dict_201905)
print(df201905.dtypes)

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [24]:
convert_dict_201906 = {'start station id': float,
                        'end station id': float}
df201906 = df201906.astype(convert_dict_201906)
print(df201906.dtypes)

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [25]:
convert_dict_202003 = {'start station id': float,
                        'end station id': float}
df202003 = df202003.astype(convert_dict_202003)
print(df202003.dtypes)

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [26]:
convert_dict_202004 = {'start station id': float,
                        'end station id': float}
df202004 = df202004.astype(convert_dict_202004)
print(df202004.dtypes)

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [27]:
convert_dict_202005 = {'start station id': float,
                        'end station id': float}
df202005 = df202005.astype(convert_dict_202005)
print(df202005.dtypes)

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [28]:
convert_dict_202006 = {'start station id': float,
                        'end station id': float}
df202006 = df202006.astype(convert_dict_202006)
print(df202006.dtypes)

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [29]:
convert_dict_202007 = {'start station id': float,
                        'end station id': float}
df202007 = df202007.astype(convert_dict_202007)
print(df202007.dtypes)

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [30]:
#merge all dataframes
merged_df = pd.concat([df201903, df201904, df201905, df201906, df201907, df202003, df202004, df202005, df202006, df202007])
merged_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1463,2019-03-01 00:00:16.0970,2019-03-01 00:24:39.3880,319.0,Fulton St & Broadway,40.711066,-74.009447,347.0,Greenwich St & W Houston St,40.728846,-74.008591,35618,Subscriber,1989,1
1,285,2019-03-01 00:00:32.3850,2019-03-01 00:05:18.1830,439.0,E 4 St & 2 Ave,40.726281,-73.989780,150.0,E 2 St & Avenue C,40.720874,-73.980858,31113,Subscriber,1980,1
2,686,2019-03-01 00:00:47.7970,2019-03-01 00:12:14.3090,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3474.0,6 Ave & Spring St,40.725256,-74.004121,19617,Subscriber,1987,1
3,442,2019-03-01 00:01:01.2090,2019-03-01 00:08:23.7510,3474.0,6 Ave & Spring St,40.725256,-74.004121,355.0,Bayard St & Baxter St,40.716021,-73.999744,27086,Subscriber,1987,2
4,2913,2019-03-01 00:01:09.2810,2019-03-01 00:49:42.3810,379.0,W 31 St & 7 Ave,40.749156,-73.991600,212.0,W 16 St & The High Line,40.743349,-74.006818,34791,Subscriber,1991,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2105803,877,2020-07-31 23:59:48.9250,2020-08-01 00:14:26.2540,217.0,Old Fulton St,40.702772,-73.993836,398.0,Atlantic Ave & Furman St,40.691652,-73.999979,44073,Customer,1969,0
2105804,839,2020-07-31 23:59:51.7740,2020-08-01 00:13:50.9750,4044.0,8 Ave & W 38 St,40.754610,-73.991770,3163.0,Central Park West & W 68 St,40.773407,-73.977825,41797,Customer,2002,1
2105805,1042,2020-07-31 23:59:56.1460,2020-08-01 00:17:18.5090,3723.0,Cadman Plaza E & Johnson St,40.695317,-73.990157,350.0,Clinton St & Grand St,40.715595,-73.987030,24808,Subscriber,1974,1
2105806,699,2020-07-31 23:59:57.4310,2020-08-01 00:11:36.5420,161.0,LaGuardia Pl & W 3 St,40.729170,-73.998102,504.0,1 Ave & E 16 St,40.732219,-73.981656,41486,Subscriber,1991,1
2105807,249,2020-07-31 23:59:58.7260,2020-08-01 00:04:08.2070,446.0,W 24 St & 7 Ave,40.744876,-73.995299,3259.0,9 Ave & W 28 St,40.749370,-73.999234,28699,Customer,1990,1

In [34]:
#change usertype Subscriber & Customer to Pass User & Annual Member
merged_df['usertype'] = merged_df['usertype'].replace({'Subscriber': 'Annual Member', 'Customer': 'Pass User'})
merged_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1463,2019-03-01 00:00:16.0970,2019-03-01 00:24:39.3880,319.0,Fulton St & Broadway,40.711066,-74.009447,347.0,Greenwich St & W Houston St,40.728846,-74.008591,35618,Annual Member,1989,1
1,285,2019-03-01 00:00:32.3850,2019-03-01 00:05:18.1830,439.0,E 4 St & 2 Ave,40.726281,-73.989780,150.0,E 2 St & Avenue C,40.720874,-73.980858,31113,Annual Member,1980,1
2,686,2019-03-01 00:00:47.7970,2019-03-01 00:12:14.3090,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3474.0,6 Ave & Spring St,40.725256,-74.004121,19617,Annual Member,1987,1
3,442,2019-03-01 00:01:01.2090,2019-03-01 00:08:23.7510,3474.0,6 Ave & Spring St,40.725256,-74.004121,355.0,Bayard St & Baxter St,40.716021,-73.999744,27086,Annual Member,1987,2
4,2913,2019-03-01 00:01:09.2810,2019-03-01 00:49:42.3810,379.0,W 31 St & 7 Ave,40.749156,-73.991600,212.0,W 16 St & The High Line,40.743349,-74.006818,34791,Annual Member,1991,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2105803,877,2020-07-31 23:59:48.9250,2020-08-01 00:14:26.2540,217.0,Old Fulton St,40.702772,-73.993836,398.0,Atlantic Ave & Furman St,40.691652,-73.999979,44073,Pass User,1969,0
2105804,839,2020-07-31 23:59:51.7740,2020-08-01 00:13:50.9750,4044.0,8 Ave & W 38 St,40.754610,-73.991770,3163.0,Central Park West & W 68 St,40.773407,-73.977825,41797,Pass User,2002,1
2105805,1042,2020-07-31 23:59:56.1460,2020-08-01 00:17:18.5090,3723.0,Cadman Plaza E & Johnson St,40.695317,-73.990157,350.0,Clinton St & Grand St,40.715595,-73.987030,24808,Annual Member,1974,1
2105806,699,2020-07-31 23:59:57.4310,2020-08-01 00:11:36.5420,161.0,LaGuardia Pl & W 3 St,40.729170,-73.998102,504.0,1 Ave & E 16 St,40.732219,-73.981656,41486,Annual Member,1991,1
2105807,249,2020-07-31 23:59:58.7260,2020-08-01 00:04:08.2070,446.0,W 24 St & 7 Ave,40.744876,-73.995299,3259.0,9 Ave & W 28 St,40.749370,-73.999234,28699,Pass User,1990,1

In [50]:
#change gender to unknown, male, female
merged_df['gender'] = merged_df['gender'].replace({0: 'Unknown', 1: 'Male', 2: 'Female'})
merged_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1463,2019-03-01 00:00:16.0970,2019-03-01 00:24:39.3880,319.0,Fulton St & Broadway,40.711066,-74.009447,347.0,Greenwich St & W Houston St,40.728846,-74.008591,35618,Annual Member,1989,male
1,285,2019-03-01 00:00:32.3850,2019-03-01 00:05:18.1830,439.0,E 4 St & 2 Ave,40.726281,-73.989780,150.0,E 2 St & Avenue C,40.720874,-73.980858,31113,Annual Member,1980,male
2,686,2019-03-01 00:00:47.7970,2019-03-01 00:12:14.3090,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3474.0,6 Ave & Spring St,40.725256,-74.004121,19617,Annual Member,1987,male
3,442,2019-03-01 00:01:01.2090,2019-03-01 00:08:23.7510,3474.0,6 Ave & Spring St,40.725256,-74.004121,355.0,Bayard St & Baxter St,40.716021,-73.999744,27086,Annual Member,1987,female
4,2913,2019-03-01 00:01:09.2810,2019-03-01 00:49:42.3810,379.0,W 31 St & 7 Ave,40.749156,-73.991600,212.0,W 16 St & The High Line,40.743349,-74.006818,34791,Annual Member,1991,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2105803,877,2020-07-31 23:59:48.9250,2020-08-01 00:14:26.2540,217.0,Old Fulton St,40.702772,-73.993836,398.0,Atlantic Ave & Furman St,40.691652,-73.999979,44073,Pass User,1969,unknown
2105804,839,2020-07-31 23:59:51.7740,2020-08-01 00:13:50.9750,4044.0,8 Ave & W 38 St,40.754610,-73.991770,3163.0,Central Park West & W 68 St,40.773407,-73.977825,41797,Pass User,2002,male
2105805,1042,2020-07-31 23:59:56.1460,2020-08-01 00:17:18.5090,3723.0,Cadman Plaza E & Johnson St,40.695317,-73.990157,350.0,Clinton St & Grand St,40.715595,-73.987030,24808,Annual Member,1974,male
2105806,699,2020-07-31 23:59:57.4310,2020-08-01 00:11:36.5420,161.0,LaGuardia Pl & W 3 St,40.729170,-73.998102,504.0,1 Ave & E 16 St,40.732219,-73.981656,41486,Annual Member,1991,male
2105807,249,2020-07-31 23:59:58.7260,2020-08-01 00:04:08.2070,446.0,W 24 St & 7 Ave,40.744876,-73.995299,3259.0,9 Ave & W 28 St,40.749370,-73.999234,28699,Pass User,1990,male

In [51]:
#rename the columns
merged_df_columns = merged_df.rename(columns = {'tripduration': 'Trip Duration (in seconds)', 'starttime': 'Start Time', 'stoptime': 'Stop Time', 'start station id': 'Start Station Id',
                                               'start station name': 'Start Station Name', 'start station latitude': 'Start Station Latitude', 'start station longitude': 'Start Station Longitude',
                                               'end station id': 'End Station ID', 'end station name': 'End Station Name', 'end station latitude': 'End Station Latitude',
                                               'end station longitude': 'End Station Longitude', 'bikeid': 'Bike ID', 'usertype': 'Usertype', 'birth year': 'Birth Year', 'gender': 'Gender'})
merged_df_columns

,Trip Duration (in seconds),Start Time,Stop Time,Start Station Id,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,Usertype,Birth Year,Gender
0,1463,2019-03-01 00:00:16.0970,2019-03-01 00:24:39.3880,319.0,Fulton St & Broadway,40.711066,-74.009447,347.0,Greenwich St & W Houston St,40.728846,-74.008591,35618,Annual Member,1989,male
1,285,2019-03-01 00:00:32.3850,2019-03-01 00:05:18.1830,439.0,E 4 St & 2 Ave,40.726281,-73.989780,150.0,E 2 St & Avenue C,40.720874,-73.980858,31113,Annual Member,1980,male
2,686,2019-03-01 00:00:47.7970,2019-03-01 00:12:14.3090,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3474.0,6 Ave & Spring St,40.725256,-74.004121,19617,Annual Member,1987,male
3,442,2019-03-01 00:01:01.2090,2019-03-01 00:08:23.7510,3474.0,6 Ave & Spring St,40.725256,-74.004121,355.0,Bayard St & Baxter St,40.716021,-73.999744,27086,Annual Member,1987,female
4,2913,2019-03-01 00:01:09.2810,2019-03-01 00:49:42.3810,379.0,W 31 St & 7 Ave,40.749156,-73.991600,212.0,W 16 St & The High Line,40.743349,-74.006818,34791,Annual Member,1991,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2105803,877,2020-07-31 23:59:48.9250,2020-08-01 00:14:26.2540,217.0,Old Fulton St,40.702772,-73.993836,398.0,Atlantic Ave & Furman St,40.691652,-73.999979,44073,Pass User,1969,unknown
2105804,839,2020-07-31 23:59:51.7740,2020-08-01 00:13:50.9750,4044.0,8 Ave & W 38 St,40.754610,-73.991770,3163.0,Central Park West & W 68 St,40.773407,-73.977825,41797,Pass User,2002,male
2105805,1042,2020-07-31 23:59:56.1460,2020-08-01 00:17:18.5090,3723.0,Cadman Plaza E & Johnson St,40.695317,-73.990157,350.0,Clinton St & Grand St,40.715595,-73.987030,24808,Annual Member,1974,male
2105806,699,2020-07-31 23:59:57.4310,2020-08-01 00:11:36.5420,161.0,LaGuardia Pl & W 3 St,40.729170,-73.998102,504.0,1 Ave & E 16 St,40.732219,-73.981656,41486,Annual Member,1991,male
2105807,249,2020-07-31 23:59:58.7260,2020-08-01 00:04:08.2070,446.0,W 24 St & 7 Ave,40.744876,-73.995299,3259.0,9 Ave & W 28 St,40.749370,-73.999234,28699,Pass User,1990,male

In [56]:
#create a trip duration in minutes column
merged_df_columns['Trip Duration (in minutes)'] = round(merged_df_columns['Trip Duration (in seconds)'] / 60, 2)
merged_df_columns

,Trip Duration (in seconds),Start Time,Stop Time,Start Station Id,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,Usertype,Birth Year,Gender,Trip Duration (in minutes)
0,1463,2019-03-01 00:00:16.0970,2019-03-01 00:24:39.3880,319.0,Fulton St & Broadway,40.711066,-74.009447,347.0,Greenwich St & W Houston St,40.728846,-74.008591,35618,Annual Member,1989,male,24.38
1,285,2019-03-01 00:00:32.3850,2019-03-01 00:05:18.1830,439.0,E 4 St & 2 Ave,40.726281,-73.989780,150.0,E 2 St & Avenue C,40.720874,-73.980858,31113,Annual Member,1980,male,4.75
2,686,2019-03-01 00:00:47.7970,2019-03-01 00:12:14.3090,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3474.0,6 Ave & Spring St,40.725256,-74.004121,19617,Annual Member,1987,male,11.43
3,442,2019-03-01 00:01:01.2090,2019-03-01 00:08:23.7510,3474.0,6 Ave & Spring St,40.725256,-74.004121,355.0,Bayard St & Baxter St,40.716021,-73.999744,27086,Annual Member,1987,female,7.37
4,2913,2019-03-01 00:01:09.2810,2019-03-01 00:49:42.3810,379.0,W 31 St & 7 Ave,40.749156,-73.991600,212.0,W 16 St & The High Line,40.743349,-74.006818,34791,Annual Member,1991,male,48.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2105803,877,2020-07-31 23:59:48.9250,2020-08-01 00:14:26.2540,217.0,Old Fulton St,40.702772,-73.993836,398.0,Atlantic Ave & Furman St,40.691652,-73.999979,44073,Pass User,1969,unknown,14.62
2105804,839,2020-07-31 23:59:51.7740,2020-08-01 00:13:50.9750,4044.0,8 Ave & W 38 St,40.754610,-73.991770,3163.0,Central Park West & W 68 St,40.773407,-73.977825,41797,Pass User,2002,male,13.98
2105805,1042,2020-07-31 23:59:56.1460,2020-08-01 00:17:18.5090,3723.0,Cadman Plaza E & Johnson St,40.695317,-73.990157,350.0,Clinton St & Grand St,40.715595,-73.987030,24808,Annual Member,1974,male,17.37
2105806,699,2020-07-31 23:59:57.4310,2020-08-01 00:11:36.5420,161.0,LaGuardia Pl & W 3 St,40.729170,-73.998102,504.0,1 Ave & E 16 St,40.732219,-73.981656,41486,Annual Member,1991,male,11.65
2105807,249,2020-07-31 23:59:58.7260,2020-08-01 00:04:08.2070,446.0,W 24 St & 7 Ave,40.744876,-73.995299,3259.0,9 Ave & W 28 St,40.749370,-73.999234,28699,Pass User,1990,male,4.15

In [58]:
#change start time and stop time to datetime type
merged_df_columns['Start Time'] = pd.to_datetime(merged_df_columns['Start Time'])
merged_df_columns['Stop Time'] = pd.to_datetime(merged_df_columns['Stop Time'])
print(merged_df_columns.dtypes)

Trip Duration (in seconds)             int64
Start Time                    datetime64[ns]
Stop Time                     datetime64[ns]
Start Station Id                     float64
Start Station Name                    object
Start Station Latitude               float64
Start Station Longitude              float64
End Station ID                       float64
End Station Name                      object
End Station Latitude                 float64
End Station Longitude                float64
Bike ID                                int64
Usertype                              object
Birth Year                             int64
Gender                                object
Trip Duration (in minutes)           float64
dtype: object

In [59]:
#create a column for the month - year
merged_df_columns['Month / Year'] = merged_df_columns['Start Time'].apply(lambda x: x.strftime('%B-%Y'))
merged_df_columns

,Trip Duration (in seconds),Start Time,Stop Time,Start Station Id,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,Usertype,Birth Year,Gender,Trip Duration (in minutes),Month / Year
0,1463,2019-03-01 00:00:16.097,2019-03-01 00:24:39.388,319.0,Fulton St & Broadway,40.711066,-74.009447,347.0,Greenwich St & W Houston St,40.728846,-74.008591,35618,Annual Member,1989,male,24.38,March-2019
1,285,2019-03-01 00:00:32.385,2019-03-01 00:05:18.183,439.0,E 4 St & 2 Ave,40.726281,-73.989780,150.0,E 2 St & Avenue C,40.720874,-73.980858,31113,Annual Member,1980,male,4.75,March-2019
2,686,2019-03-01 00:00:47.797,2019-03-01 00:12:14.309,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3474.0,6 Ave & Spring St,40.725256,-74.004121,19617,Annual Member,1987,male,11.43,March-2019
3,442,2019-03-01 00:01:01.209,2019-03-01 00:08:23.751,3474.0,6 Ave & Spring St,40.725256,-74.004121,355.0,Bayard St & Baxter St,40.716021,-73.999744,27086,Annual Member,1987,female,7.37,March-2019
4,2913,2019-03-01 00:01:09.281,2019-03-01 00:49:42.381,379.0,W 31 St & 7 Ave,40.749156,-73.991600,212.0,W 16 St & The High Line,40.743349,-74.006818,34791,Annual Member,1991,male,48.55,March-2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2105803,877,2020-07-31 23:59:48.925,2020-08-01 00:14:26.254,217.0,Old Fulton St,40.702772,-73.993836,398.0,Atlantic Ave & Furman St,40.691652,-73.999979,44073,Pass User,1969,unknown,14.62,July-2020
2105804,839,2020-07-31 23:59:51.774,2020-08-01 00:13:50.975,4044.0,8 Ave & W 38 St,40.754610,-73.991770,3163.0,Central Park West & W 68 St,40.773407,-73.977825,41797,Pass User,2002,male,13.98,July-2020
2105805,1042,2020-07-31 23:59:56.146,2020-08-01 00:17:18.509,3723.0,Cadman Plaza E & Johnson St,40.695317,-73.990157,350.0,Clinton St & Grand St,40.715595,-73.987030,24808,Annual Member,1974,male,17.37,July-2020
2105806,699,2020-07-31 23:59:57.431,2020-08-01 00:11:36.542,161.0,LaGuardia Pl & W 3 St,40.729170,-73.998102,504.0,1 Ave & E 16 St,40.732219,-73.981656,41486,Annual Member,1991,male,11.65,July-2020
2105807,249,2020-07-31 23:59:58.726,2020-08-01 00:04:08.207,446.0,W 24 St & 7 Ave,40.744876,-73.995299,3259.0,9 Ave & W 28 St,40.749370,-73.999234,28699,Pass User,1990,male,4.15,July-2020

In [60]:
#create a colunn for the year
merged_df_columns['Year'] = merged_df_columns['Start Time'].apply(lambda x: x.strftime('%Y'))
merged_df_columns

,Trip Duration (in seconds),Start Time,Stop Time,Start Station Id,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,Usertype,Birth Year,Gender,Trip Duration (in minutes),Month / Year,Year
0,1463,2019-03-01 00:00:16.097,2019-03-01 00:24:39.388,319.0,Fulton St & Broadway,40.711066,-74.009447,347.0,Greenwich St & W Houston St,40.728846,-74.008591,35618,Annual Member,1989,male,24.38,March-2019,2019
1,285,2019-03-01 00:00:32.385,2019-03-01 00:05:18.183,439.0,E 4 St & 2 Ave,40.726281,-73.989780,150.0,E 2 St & Avenue C,40.720874,-73.980858,31113,Annual Member,1980,male,4.75,March-2019,2019
2,686,2019-03-01 00:00:47.797,2019-03-01 00:12:14.309,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3474.0,6 Ave & Spring St,40.725256,-74.004121,19617,Annual Member,1987,male,11.43,March-2019,2019
3,442,2019-03-01 00:01:01.209,2019-03-01 00:08:23.751,3474.0,6 Ave & Spring St,40.725256,-74.004121,355.0,Bayard St & Baxter St,40.716021,-73.999744,27086,Annual Member,1987,female,7.37,March-2019,2019
4,2913,2019-03-01 00:01:09.281,2019-03-01 00:49:42.381,379.0,W 31 St & 7 Ave,40.749156,-73.991600,212.0,W 16 St & The High Line,40.743349,-74.006818,34791,Annual Member,1991,male,48.55,March-2019,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2105803,877,2020-07-31 23:59:48.925,2020-08-01 00:14:26.254,217.0,Old Fulton St,40.702772,-73.993836,398.0,Atlantic Ave & Furman St,40.691652,-73.999979,44073,Pass User,1969,unknown,14.62,July-2020,2020
2105804,839,2020-07-31 23:59:51.774,2020-08-01 00:13:50.975,4044.0,8 Ave & W 38 St,40.754610,-73.991770,3163.0,Central Park West & W 68 St,40.773407,-73.977825,41797,Pass User,2002,male,13.98,July-2020,2020
2105805,1042,2020-07-31 23:59:56.146,2020-08-01 00:17:18.509,3723.0,Cadman Plaza E & Johnson St,40.695317,-73.990157,350.0,Clinton St & Grand St,40.715595,-73.987030,24808,Annual Member,1974,male,17.37,July-2020,2020
2105806,699,2020-07-31 23:59:57.431,2020-08-01 00:11:36.542,161.0,LaGuardia Pl & W 3 St,40.729170,-73.998102,504.0,1 Ave & E 16 St,40.732219,-73.981656,41486,Annual Member,1991,male,11.65,July-2020,2020
2105807,249,2020-07-31 23:59:58.726,2020-08-01 00:04:08.207,446.0,W 24 St & 7 Ave,40.744876,-73.995299,3259.0,9 Ave & W 28 St,40.749370,-73.999234,28699,Pass User,1990,male,4.15,July-2020,2020

In [63]:
print(merged_df_columns.dtypes)

Trip Duration (in seconds)             int64
Start Time                    datetime64[ns]
Stop Time                     datetime64[ns]
Start Station Id                     float64
Start Station Name                    object
Start Station Latitude               float64
Start Station Longitude              float64
End Station ID                       float64
End Station Name                      object
End Station Latitude                 float64
End Station Longitude                float64
Bike ID                                int64
Usertype                              object
Birth Year                             int64
Gender                                object
Trip Duration (in minutes)           float64
Month / Year                          object
Year                                  object
dtype: object

In [71]:
#convert year column to an int
merged_df_columns['Year'] = pd.to_numeric(merged_df_columns['Year'], errors='coerce')
merged_df_columns['Year'] = merged_df_columns['Year'].astype(np.int64)
print(merged_df_columns.dtypes)

Trip Duration (in seconds)             int64
Start Time                    datetime64[ns]
Stop Time                     datetime64[ns]
Start Station Id                     float64
Start Station Name                    object
Start Station Latitude               float64
Start Station Longitude              float64
End Station ID                       float64
End Station Name                      object
End Station Latitude                 float64
End Station Longitude                float64
Bike ID                                int64
Usertype                              object
Birth Year                             int64
Gender                                object
Trip Duration (in minutes)           float64
Month / Year                          object
Year                                   int64
dtype: object

In [72]:
merged_df_columns['Age'] = merged_df_columns['Year'] - merged_df_columns['Birth Year']
merged_df_columns

,Trip Duration (in seconds),Start Time,Stop Time,Start Station Id,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,Usertype,Birth Year,Gender,Trip Duration (in minutes),Month / Year,Year,Age
0,1463,2019-03-01 00:00:16.097,2019-03-01 00:24:39.388,319.0,Fulton St & Broadway,40.711066,-74.009447,347.0,Greenwich St & W Houston St,40.728846,-74.008591,35618,Annual Member,1989,male,24.38,March-2019,2019,30
1,285,2019-03-01 00:00:32.385,2019-03-01 00:05:18.183,439.0,E 4 St & 2 Ave,40.726281,-73.989780,150.0,E 2 St & Avenue C,40.720874,-73.980858,31113,Annual Member,1980,male,4.75,March-2019,2019,39
2,686,2019-03-01 00:00:47.797,2019-03-01 00:12:14.309,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3474.0,6 Ave & Spring St,40.725256,-74.004121,19617,Annual Member,1987,male,11.43,March-2019,2019,32
3,442,2019-03-01 00:01:01.209,2019-03-01 00:08:23.751,3474.0,6 Ave & Spring St,40.725256,-74.004121,355.0,Bayard St & Baxter St,40.716021,-73.999744,27086,Annual Member,1987,female,7.37,March-2019,2019,32
4,2913,2019-03-01 00:01:09.281,2019-03-01 00:49:42.381,379.0,W 31 St & 7 Ave,40.749156,-73.991600,212.0,W 16 St & The High Line,40.743349,-74.006818,34791,Annual Member,1991,male,48.55,March-2019,2019,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2105803,877,2020-07-31 23:59:48.925,2020-08-01 00:14:26.254,217.0,Old Fulton St,40.702772,-73.993836,398.0,Atlantic Ave & Furman St,40.691652,-73.999979,44073,Pass User,1969,unknown,14.62,July-2020,2020,51
2105804,839,2020-07-31 23:59:51.774,2020-08-01 00:13:50.975,4044.0,8 Ave & W 38 St,40.754610,-73.991770,3163.0,Central Park West & W 68 St,40.773407,-73.977825,41797,Pass User,2002,male,13.98,July-2020,2020,18
2105805,1042,2020-07-31 23:59:56.146,2020-08-01 00:17:18.509,3723.0,Cadman Plaza E & Johnson St,40.695317,-73.990157,350.0,Clinton St & Grand St,40.715595,-73.987030,24808,Annual Member,1974,male,17.37,July-2020,2020,46
2105806,699,2020-07-31 23:59:57.431,2020-08-01 00:11:36.542,161.0,LaGuardia Pl & W 3 St,40.729170,-73.998102,504.0,1 Ave & E 16 St,40.732219,-73.981656,41486,Annual Member,1991,male,11.65,July-2020,2020,29
2105807,249,2020-07-31 23:59:58.726,2020-08-01 00:04:08.207,446.0,W 24 St & 7 Ave,40.744876,-73.995299,3259.0,9 Ave & W 28 St,40.749370,-73.999234,28699,Pass User,1990,male,4.15,July-2020,2020,30

In [73]:
Generation = []

In [74]:
for year in merged_df_columns['Birth Year']:
    if year > 1994:
        Generation.append("Gen Z")
    elif year > 1976:
        Generation.append("Millennial")
    elif year > 1964:
        Generation.append("Gen X")
    elif year > 1945:
        Generation.append("Boomer")
    elif year > 1927:
        Generation.append("Silent Generation")
    else:
        Generation.append("Greatest Generation")

In [76]:
merged_df_columns['Generation'] = Generation
merged_df_columns

,Trip Duration (in seconds),Start Time,Stop Time,Start Station Id,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,Usertype,Birth Year,Gender,Trip Duration (in minutes),Month / Year,Year,Age,Generation
0,1463,2019-03-01 00:00:16.097,2019-03-01 00:24:39.388,319.0,Fulton St & Broadway,40.711066,-74.009447,347.0,Greenwich St & W Houston St,40.728846,-74.008591,35618,Annual Member,1989,male,24.38,March-2019,2019,30,Millennial
1,285,2019-03-01 00:00:32.385,2019-03-01 00:05:18.183,439.0,E 4 St & 2 Ave,40.726281,-73.989780,150.0,E 2 St & Avenue C,40.720874,-73.980858,31113,Annual Member,1980,male,4.75,March-2019,2019,39,Millennial
2,686,2019-03-01 00:00:47.797,2019-03-01 00:12:14.309,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3474.0,6 Ave & Spring St,40.725256,-74.004121,19617,Annual Member,1987,male,11.43,March-2019,2019,32,Millennial
3,442,2019-03-01 00:01:01.209,2019-03-01 00:08:23.751,3474.0,6 Ave & Spring St,40.725256,-74.004121,355.0,Bayard St & Baxter St,40.716021,-73.999744,27086,Annual Member,1987,female,7.37,March-2019,2019,32,Millennial
4,2913,2019-03-01 00:01:09.281,2019-03-01 00:49:42.381,379.0,W 31 St & 7 Ave,40.749156,-73.991600,212.0,W 16 St & The High Line,40.743349,-74.006818,34791,Annual Member,1991,male,48.55,March-2019,2019,28,Millennial
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2105803,877,2020-07-31 23:59:48.925,2020-08-01 00:14:26.254,217.0,Old Fulton St,40.702772,-73.993836,398.0,Atlantic Ave & Furman St,40.691652,-73.999979,44073,Pass User,1969,unknown,14.62,July-2020,2020,51,Gen X
2105804,839,2020-07-31 23:59:51.774,2020-08-01 00:13:50.975,4044.0,8 Ave & W 38 St,40.754610,-73.991770,3163.0,Central Park West & W 68 St,40.773407,-73.977825,41797,Pass User,2002,male,13.98,July-2020,2020,18,Gen Z
2105805,1042,2020-07-31 23:59:56.146,2020-08-01 00:17:18.509,3723.0,Cadman Plaza E & Johnson St,40.695317,-73.990157,350.0,Clinton St & Grand St,40.715595,-73.987030,24808,Annual Member,1974,male,17.37,July-2020,2020,46,Gen X
2105806,699,2020-07-31 23:59:57.431,2020-08-01 00:11:36.542,161.0,LaGuardia Pl & W 3 St,40.729170,-73.998102,504.0,1 Ave & E 16 St,40.732219,-73.981656,41486,Annual Member,1991,male,11.65,July-2020,2020,29,Millennial
2105807,249,2020-07-31 23:59:58.726,2020-08-01 00:04:08.207,446.0,W 24 St & 7 Ave,40.744876,-73.995299,3259.0,9 Ave & W 28 St,40.749370,-73.999234,28699,Pass User,1990,male,4.15,July-2020,2020,30,Millennial